{
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
